include ../../node_modules/bemto.pug/bemto.pug

+b.b-404()
	.container
		.row
			.col-md-7
				+e.title :(
				+e.text Страница не найдена
				+e.help Возможно, она была удалена, либо адрес страницы содержит опечатки.
				+e.btns
					c_btn(to='/') На главную
