
*,
*:after,
*:before {
	box-sizing: inherit;
}

html {


	@media (max-width: 1200px) {
		font-size: 15px;
		--base_font-size: 15;
	}
	@include media-breakpoint-up(lg) {

		@media (max-height: 800px) and (min-height: 740px) {
			font-size: 12px;
			--base_font-size: 12;
		}
		@media (max-height: 739px) and (min-height: 620px) {
			font-size: 10px;
			--base_font-size: 10;
		}
	}
	@include media-breakpoint-only(xx) {
		font-size: 16px;
		--base_font-size: 16;
	}
	@include media-breakpoint-only(xxl) {
		font-size: 15px;
		--base_font-size: 15;
	}
	@include media-breakpoint-only(xl) {
		font-size: 14px;
		--base_font-size: 14;
	}
	@include media-breakpoint-only(lg) {
		font-size: 13px;
		--base_font-size: 13;
	}
	@include media-breakpoint-only(md) {
		font-size: 13px;
		--base_font-size: 13;
	}
	@include media-breakpoint-only(sm) {
		font-size: 13px;
		--base_font-size: 15;
	}
	@include media-breakpoint-only(xs) {
		font-size: 13px;
		--base_font-size: 14;
	}
	box-sizing: border-box;

}

body {
	@include modal;
	color: #323232;
	margin: 0;
	font-family: $Formular;

	font-size: 16px;
	font-weight: 400;
	line-height: 1.2;
	overflow-x: hidden;
	background: #F4F5F7;
	//opacity: 1;
	//transition: opacity 0.5s;
	overflow-y: scroll;

	word-wrap: break-word;

	//@include cover;


	&.inner-light {
		background: #fff;
	}
}


.main {
	display: block;
	flex-grow: 1;
	//padding-bottom: rem(70);
}


img,
video {
	max-width: 100%;
}

a {
	text-decoration: none;
	cursor: pointer;
	transition: 0.2s background-color, 0.2s border, 0.2s color, 0.2s fill, 0.2s stroke, 0.2s box-shadow;
}


@keyframes top {
	from {
		transform: translateY(10px);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes left {
	from {
		transform: translateX(-100px);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}


*::selection {
	background: rgba(255, 192, 0, 0.7);
}

input,
button {
	outline: none !important;
	transition: 0.2s;
}

button,
label {
	cursor: pointer;
	user-select: none;
	border: none;
}

[class*=btn] {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
	user-select: none;
}

a {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: rgba(#102c69, 0.1);
}

body:not(.tab-user) * {
	outline: none !important;
}


iframe {
	max-width: 100%;
}


[type="tel"] {
	font-family: monospace !important;
}

.container_small {
	max-width: 1037px;
}

p {
	margin-top: 0;
}

table {
	border-collapse: collapse;
}

.container {
	.container {
		padding: 0;
		width: auto;
	}
}

[disabled] {
	border-color: #c6c6c6 !important;
	color: #c6c6c6 !important;
	pointer-events: none;
}

input::-ms-clear {
	display: none;

}

//.form-control {
//	& + .error {
//		position: absolute;
//		top: 100%;
//		left: 0;
//		font-size: 12px;
//		font-style: italic;
//		color: #f55555;
//	}
//
//	&.error {
//		border: 1px solid #f55555 !important;
//		animation-name: input;
//		animation-duration: 1.2s;
//	}
//}
//
//@keyframes input {
//	from {
//		background: #f55555;
//	}
//	to {
//		background: white;
//	}
//}

.page-wrapper {
	margin-bottom: auto;
}


.swiper-slide {
	box-sizing: border-box;
	height: auto;
}

.swiper-wrapper {
	align-items: stretch;
}

.modal-backdrop {
	background-color: rgba(0, 0, 0, 0.6);
}

.modal-md {
	max-width: 780px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
	-moz-appearance: textfield;
}


h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
.todo {
	position: relative;
	&:after {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 10;
		outline: 1px solid red;
		background-image: linear-gradient(-45deg,rgba(255,0,0,.2) 25%,transparent 25%,transparent 50%,rgba(255,0,0,.2) 50%,rgba(128,128,128,.2) 75%,transparent 75%,transparent)!important;
		background-size: 4px 4px;
		pointer-events: none;
	}

}
span.todo {
	display: inline-block;
}
//.page__up {
//	position: fixed;
//	bottom: 217px;
//	left: 32px;
//	width: 80px;
//	height: 80px;
//
//	background-size: cover;
//
//	opacity: .6;
//	-webkit-transition: .2s;
//	transition: .2s;
//	display: none;
//	z-index: 1000;
//	zoom: .8;
//	fill: #fff;
//	background: #A4BF37;
//
//	&:hover {
//		opacity: .8;
//	}
//
//	svg {
//		width: 40%;
//		height: 40%;
//		margin-top: -2px;
//		position: absolute;
//		top: 50%;
//		left: 50%;
//		transform: translate(-50%, -50%);
//		pointer-events: none;
//
//	}
//}
//.page-header.fixed-header {
//	position: fixed;
//	top: -100%;
//	left: 0;
//	right: 0;
//	-webkit-transition: .6s;
//	transition: .6s;
//	z-index: 99;
//	box-shadow: 0 0 4px 0 rgba(47, 47, 47, 0.15);
//}
//.page-header.fixed-header {
//	transform: translateY(-100%);
//	position: fixed;
//	top: 0;
//	left: 0;
//	right: 0;
//	transition: .6s transform;
//	z-index: 109;
//	padding-right: inherit !important;
//	will-change: transform;
//}
//
//.page-header.fixed-header.sticky {
//	transform: translateY(0%);
//}


.sprite-icons {
	flex-shrink: 0;
}



//video::-webkit-media-controls {
//	display: none;
//}
//
///* Could Use thise as well for Individual Controls */
//video::-webkit-media-controls-play-button {
//	display: none;
//}
//
//video::-webkit-media-controls-volume-slider {
//	display: none;
//}
//
//video::-webkit-media-controls-mute-button {
//	display: none;
//}
//
//video::-webkit-media-controls-timeline {
//	display: none;
//}
//
//video::-webkit-media-controls-current-time-display {
//	display: none;
//}
