@font-face {
	font-family: 'Formular';
	src: url('/fonts/formular/formular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Formular';
	src: url('/fonts/formular/formular-medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Formular';
	src: url('/fonts/formular/formular-bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}
