include ../../node_modules/bemto.pug/bemto.pug
+b.page-header
	.container
		+e.header
			+e.header-iconsl
				+e.A.icon-magnifierl.link(href='/')
					img(src='../../static/img/general/magnifier.png' alt="gfdgd")
				+e.A.icon-flagl.link(href='/')
					img(src='../../static/img/general/flag.png' alt="gfdgd")
				+e.A.icon-manl.link(href='/')
					img(src='../../static/img/general/man.png' alt="gfdgd")
				+e.A.icon-cartl.link(href='/')
					img(src='../../static/img/general/cart.png' alt="gfdgd")
			+e.img
				img(src='../../static/img/general/logo.png' alt="gfdgd")
			+e.header-iconsr
				+e.A.icon-magnifier.link(href='/')
					img(src='../../static/img/general/magnifier.png' alt="gfdgd")
				+e.A.icon-flag.link(href='/')
					img(src='../../static/img/general/flag.png' alt="gfdgd")
				+e.A.icon-man.link(href='/')
					img(src='../../static/img/general/man.png' alt="gfdgd")
				+e.A.icon-cart.link(href='/')
					img(src='../../static/img/general/cart.png' alt="gfdgd")


