include ../../node_modules/bemto.pug/bemto.pug

+b.page-footer
	.container
		+e.footer-header ПОХОЖИЕ ТОВАРЫ
		+e.slider
			.swiper-container(v-swiper:mySwiper="swiperOptionsTop"  ref="swiperTop")
				.swiper-wrapper.lightgallery
					.swiper-slide.width-slide
						+e.A.DIV.img.link(href='/')
							img(src='../../static/img/general/Image1.png' alt="gfdgd")
							+e.resembling
								+e.specification платье с v-образным вырезом, белый
								+e.prise
									//+e.prise-normal
									+e.prise-discount 14 900 RUB
									+e.prise-old 8 000 RUB
					.swiper-slide.width-slide
						+e.A.DIV.img.link(href='/')
							img(src='../../static/img/general/Image2.png' alt="gfdgd")
							+e.resembling
								+e.specification жакет двубортный, серо-голубой
								+e.prise
									+e.prise-normal 8 900 RUB
									+e.prise-discount
									+e.prise-old
					.swiper-slide.width-slide
						+e.A.DIV.img.link(href='/')
							img(src='../../static/img/general/Image3.png' alt="gfdgd")
							+e.resembling
								+e.specification платье макси с ярусами, белый
								+e.prise
									+e.prise-normal 10 500 RUB
									+e.prise-discount
									+e.prise-old
							+e.product
					.swiper-slide.width-slide
						+e.A.DIV.img.link(href='/')
							img(src='../../static/img/general/Image4.png' alt="gfdgd")
							+e.resembling
								+e.specification комбинезон со стойкой, черный
								+e.prise
									+e.prise-normal 9 500 RUB
									+e.prise-discount
									+e.prise-old
					.swiper-slide.width-slide
						+e.A.DIV.img.link(href='/')
							img(src='../../static/img/general/Image1.png' alt="gfdgd")
							+e.resembling
								+e.specification платье с v-образным вырезом, белый
								+e.prise
									//+e.prise-normal
									+e.prise-discount 14 900 RUB
									+e.prise-old 8 000 RUB
					.swiper-slide.width-slide
						+e.A.DIV.img.link(href='/')
							img(src='../../static/img/general/Image2.png' alt="gfdgd")
							+e.resembling
								+e.specification жакет двубортный, серо-голубой
								+e.prise
									+e.prise-normal 8 900 RUB
									+e.prise-discount
									+e.prise-old
					.swiper-slide.width-slide
						+e.A.DIV.img.link(href='/')
							img(src='../../static/img/general/Image3.png' alt="gfdgd")
							+e.resembling
								+e.specification платье макси с ярусами, белый
								+e.prise
									+e.prise-normal 10 500 RUB
									+e.prise-discount
									+e.prise-old
							+e.product
					.swiper-slide.width-slide
						+e.A.DIV.img.link(href='/')
							img(src='../../static/img/general/Image4.png' alt="gfdgd")
							+e.resembling
								+e.specification комбинезон со стойкой, черный
								+e.prise
									+e.prise-normal 9 500 RUB
									+e.prise-discount
									+e.prise-old
